<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validation DMS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>

    <div class="animated-bg"></div>
    <div class="grid-overlay"></div>

    <aside class="sidebar" id="sidebar">

        <div class="logo-box">
            <img src="{{ url_for('static', filename='assets/logo.svg') }}">
            <span>Validation DMS</span>
        </div>

        <nav>
            <a href="#" data-page="dashboard" class="nav-link active">QMS</a>
            <a href="#" data-page="users" class="nav-link">Change Control</a>
            <a href="#" data-page="roles" class="nav-link">Technical Training</a>
            <a href="#" data-page="permissions" class="nav-link">Computer System Validation</a>
            <a href="#" data-page="documents" class="nav-link">Process Validation</a>
            <a href="#" data-page="workflows" class="nav-link">Equipment Quilification Validation</a>
            <a href="#" data-page="workflows" class="nav-link">Vendor Quilification</a>
            <a href="#" data-page="workflows" class="nav-link">Market Complain</a>
            <a href="#" data-page="capa" class="nav-link">Preventive Maintenance</a>
            
        </nav>

    </aside>

    <div class="main-layout">

        <header class="topbar">

            <button id="menuToggle">☰</button>

            <div class="top-right">
                <div class="notification">🔔</div>

                <div class="user-dropdown">
                    <div class="user-avatar" id="userAvatar">AU</div>

                    <div class="dropdown-menu" id="dropdownMenu">
                        <a href="#">Profile</a>
                        <a href="#">Settings</a>
                        <a href="/" id="logoutBtn">Logout</a>
                    </div>
                </div>
            </div>

        </header>

        <main id="content-area"></main>

        <footer>
            Validation DMS © 2026 | Enterprise Document Management System
        </footer>

    </div>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>

</body>
</html>